/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";

h1,
h2 {
  text-align: center;
}

hr.main {
  border: 1px solid black;
  margin: 1em;
}


#container {
  padding: 2em;
}

#card {
  padding: 1em;
}

#card_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.patient_show {
  border: 2px black solid;
  padding: 2em;
  margin: 1em 10em;
}

.crud_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}